.Homepage {
  /* put around the vertical center of page */
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

.hero-home {
  background-image: url("https://traveler-capstone-images.s3.us-east-2.amazonaws.com/homepage/unsplash-pyramid-photo2.jpg");
}

.greeting {
  background-color: rgba(0, 0, 0, 0.536);
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.photo-cred {
    background-color: rgba(0, 0, 0, 0.859);
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px;
}